<h4>Your Cart </h4>
<% if @items_in_cart.empty? %>
    <h5>Your cart is currently empty.</h5><br>
    <p><strong>
    <%= link_to "Start shopping", items_path, class: 'waves-effect waves-light btn' %> 
    </strong></p>
<%else%>
  
    
    <% for order_item in @items_in_cart%>
      <div class="card"> 
        <div class="card-content"> 
          <h5><%= order_item.item.name %></h5><br>
          <b>Unit Price: </b><%= number_to_currency order_item.item.current_retail_price %><br>
          <b>Quantity: </b><%= order_item.quantity%><br>
          <b>Subtotal: </b><%= number_to_currency order_item.subtotal%><br><br>
          <%= link_to "Remove",remove_item_path(order_item.item), class: 'waves-effect waves-light btn btn-alert' %>
        </div>        
      </div>
    <%end%><br>
<hr>
<div style="text-align:right">
<b>Subtotal: </b><%= number_to_currency @subtotal%><br>
<b>Shipping: </b><%= number_to_currency @shipping_cost%><br>
<b>Grand Total: </b><%= number_to_currency @total%><br>
</div>
    <br>
<p><strong>
<div style="float:left">
<%= link_to "Continue shopping", items_path, class: 'waves-effect waves-light btn' %> 
<%= link_to "Empty cart", empty_cart_path, class: 'waves-effect waves-light btn btn-alert' %> 
</div>
<div style="float:right">
<%= link_to "Checkout", checkout_path, class: 'waves-effect waves-light btn btn-checkout'%> 
</div>
</strong></p>

<% end %>