<div class="card">
  <div class="card-content">
    <h5><%= best_in_place @customer, :first_name, as: :input %> 
        <%= best_in_place @customer, :last_name, as: :input %></h5><br />

    <p>A GPBO customer since 2020</p>
    
    <b>Phone:&nbsp;&nbsp;</b><br>
      <%= best_in_place @customer, :phone, as: :input, display_with: :number_to_phone %><br /><br />

    <b>Email:&nbsp;&nbsp;</b><br>
      <%= best_in_place @customer, :email, as: :input %><br /><br />

    <b>Active with GPBO?&nbsp;&nbsp;</b>
      <%= @customer.active ? "Yes" : "No" %>
      <br>
  </div>
</div>