<h4>Featured Items at GPBO</h4>


<% if @featured_items.empty? %>
  <h4>There are no featured items in that category at this time.</h4>
<% else %>
  <table class="striped highlight">
    <thead>
      <th>Name</th>
      <th>Price</th>
      <% if can? :manage, Item %> 
      <th>Inventory</th>
      <th class="align_center">Options</th>
      <% end %>
      
    </thead>
    <% for item in @featured_items.alphabetical %>
      <tr>
        <td><%= link_to "#{item.name}", item_path(item) %></td>
        <td><%= number_to_currency item.current_retail_price %></td>
        <% if can? :manage, Item%> 
        <td><%= item.inventory_level %>
        <td class="align_center">
          <%= link_to edit_item_path(item) do %>
              <i class="material-icons">edit</i>
          <% end %>
          &nbsp;&nbsp;&nbsp;&nbsp; 
          <%= link_to(item_path(item), method: :delete, data: { confirm: 'Are you sure you wish to delete this information?' }) do %>
              <i class="material-icons">delete</i>
          <% end %>
        </td>
        <%end%>
        
      </tr>
    <% end %>
  </table>
  <br />
<% end %>